.grid {
    margin: 0px auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
     display: flex ; flex-wrap: wrap;
       
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


  

   
  




body{
    /* I changed the font-family to 'Poppins', which was originally 'Lato'.
    I did this by deleting only the 'Lato' section in the already existing font-family property and replacing it with 'Poppins'.
    I changed this so that it would be easier to read for more users. */
    font-family: 'Poppins', sans-serif;
    /* Changed color from #747704 to #415577.
    I changed it by clicking the box that contains the existing color that resides next to the line number.
    I changed this because it seemed to match the background color better. */
    color: #415577;
    font-weight: 300;
    /* Added aliceblue background-color.
    I changed it by typing background-color into the body selector in the css tab.
    I made this addition so that the page would seem more appealing and attract a user. */
    background-color: aliceblue;
}